/* ── MilaniSlider ───────────────────────────────────────────────────────────── */
.milani-slider-wrapper,
.milani-slider-wrapper .milani-swiper{
      min-height: 604px;
    position: relative;
    display: flex;
    width: 100%;
}
.milani-slider-wrapper::before{
right: 5%;
content: "";
    display: block;
    position: absolute;
    width: 242px;
    height: 63px;
    top: 20px;
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8'%3F%3E%3Csvg id='Layer_1' data-name='Layer 1' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 268 70'%3E%3Crect width='268' height='70' rx='10.05' ry='10.05' fill='%23fff'/%3E%3Cg%3E%3Cg%3E%3Cg%3E%3Cpath d='M160.8,25.83v-1.02h2.19v-7.01h-2.2v-.78c.31-.03.63-.08.97-.16.34-.08.68-.19,1.01-.34.33-.15.63-.34.91-.58h.53v8.87h2.07v1.02h-5.49Z' fill='%23010101'/%3E%3Cpath d='M170.48,26c-.5,0-.94-.08-1.33-.25-.39-.16-.71-.44-.98-.83s-.46-.92-.6-1.57c-.13-.65-.2-1.47-.2-2.46s.07-1.81.2-2.47c.13-.66.33-1.18.6-1.57s.59-.66.98-.83c.39-.16.83-.24,1.33-.24s.96.08,1.35.24c.39.16.71.44.97.83s.46.91.59,1.57c.13.66.2,1.48.2,2.47s-.07,1.81-.2,2.46c-.13.65-.33,1.18-.6,1.57-.26.39-.59.67-.97.83-.38.16-.83.25-1.34.25ZM170.48,24.98c.5,0,.88-.14,1.14-.41s.45-.68.55-1.23c.11-.55.16-1.23.16-2.04v-.79c0-.83-.05-1.51-.16-2.06s-.29-.96-.55-1.23-.65-.41-1.14-.41-.87.14-1.14.41-.46.68-.56,1.22c-.11.54-.16,1.23-.16,2.05v.79c0,.82.05,1.5.16,2.05s.29.96.56,1.24.65.41,1.14.41Z' fill='%23010101'/%3E%3Cpath d='M178,26c-.5,0-.94-.08-1.33-.25-.39-.16-.72-.44-.98-.83s-.46-.92-.6-1.57c-.13-.65-.2-1.47-.2-2.46s.07-1.81.2-2.47c.13-.66.33-1.18.6-1.57s.59-.66.98-.83c.39-.16.83-.24,1.33-.24s.96.08,1.35.24c.39.16.71.44.97.83s.46.91.59,1.57c.13.66.2,1.48.2,2.47s-.07,1.81-.2,2.46c-.13.65-.33,1.18-.6,1.57-.26.39-.59.67-.97.83-.38.16-.83.25-1.34.25ZM178,24.98c.5,0,.88-.14,1.14-.41s.45-.68.55-1.23c.11-.55.16-1.23.16-2.04v-.79c0-.83-.05-1.51-.16-2.06-.11-.55-.29-.96-.55-1.23s-.65-.41-1.14-.41-.87.14-1.14.41c-.27.27-.46.68-.56,1.22-.11.54-.16,1.23-.16,2.05v.79c0,.82.05,1.5.16,2.05.11.55.29.96.56,1.24.27.27.65.41,1.14.41Z' fill='%23010101'/%3E%3Cpath d='M185.51,26c-.5,0-.94-.08-1.33-.25-.39-.16-.71-.44-.98-.83s-.46-.92-.6-1.57c-.13-.65-.2-1.47-.2-2.46s.07-1.81.2-2.47c.13-.66.33-1.18.6-1.57s.59-.66.98-.83c.39-.16.83-.24,1.33-.24s.96.08,1.35.24c.39.16.71.44.97.83s.46.91.59,1.57c.13.66.2,1.48.2,2.47s-.07,1.81-.2,2.46c-.13.65-.33,1.18-.6,1.57-.26.39-.59.67-.97.83-.38.16-.83.25-1.34.25ZM185.51,24.98c.5,0,.88-.14,1.14-.41s.45-.68.55-1.23c.11-.55.16-1.23.16-2.04v-.79c0-.83-.05-1.51-.16-2.06s-.29-.96-.55-1.23-.65-.41-1.14-.41-.87.14-1.14.41-.46.68-.56,1.22c-.11.54-.16,1.23-.16,2.05v.79c0,.82.05,1.5.16,2.05s.29.96.56,1.24.65.41,1.14.41Z' fill='%23010101'/%3E%3Cpath d='M193.03,26c-.5,0-.94-.08-1.33-.25-.39-.16-.72-.44-.98-.83s-.46-.92-.6-1.57c-.13-.65-.2-1.47-.2-2.46s.07-1.81.2-2.47c.13-.66.33-1.18.6-1.57s.59-.66.98-.83c.39-.16.83-.24,1.33-.24s.96.08,1.35.24c.39.16.71.44.97.83s.46.91.59,1.57c.13.66.2,1.48.2,2.47s-.07,1.81-.2,2.46c-.13.65-.33,1.18-.6,1.57-.26.39-.59.67-.97.83-.38.16-.83.25-1.34.25ZM193.03,24.98c.5,0,.88-.14,1.14-.41s.45-.68.55-1.23c.11-.55.16-1.23.16-2.04v-.79c0-.83-.05-1.51-.16-2.06-.11-.55-.29-.96-.55-1.23s-.65-.41-1.14-.41-.87.14-1.14.41c-.27.27-.46.68-.56,1.22-.11.54-.16,1.23-.16,2.05v.79c0,.82.05,1.5.16,2.05.11.55.29.96.56,1.24.27.27.65.41,1.14.41Z' fill='%23010101'/%3E%3Cpath d='M200.46,25.6v-2.92h-2.58v-1.05h2.58v-2.94h1.05v2.94h2.58v1.05h-2.58v2.92h-1.05Z' fill='%23010101'/%3E%3Cpath d='M208.94,25.83v-7.57h.98l.1,1.17h.09c.08-.25.18-.47.32-.68.13-.2.3-.36.5-.48.2-.12.44-.18.72-.18.12,0,.24,0,.33.03.1.02.17.04.23.06v1.18h-.46c-.26,0-.49.05-.69.14s-.37.24-.5.42c-.13.19-.24.42-.31.68-.07.27-.11.58-.11.92v4.31h-1.2Z' fill='%23010101'/%3E%3Cpath d='M215.97,26c-.69,0-1.26-.14-1.72-.42-.46-.28-.8-.71-1.02-1.3-.23-.58-.34-1.33-.34-2.25s.12-1.69.34-2.27c.23-.58.58-1.01,1.04-1.28.46-.27,1.05-.41,1.75-.41.63,0,1.16.13,1.59.38.43.25.75.65.96,1.18.22.53.32,1.22.32,2.05v.63h-4.77c0,.62.06,1.13.19,1.53s.33.68.6.87c.27.19.62.28,1.05.28.27,0,.51-.04.71-.12.21-.08.38-.2.53-.35.15-.15.26-.33.34-.55s.12-.46.13-.74h1.18c0,.42-.08.8-.21,1.14s-.32.63-.56.87c-.24.24-.55.42-.91.55-.36.12-.77.19-1.23.19ZM214.14,21.45h3.51c0-.43-.04-.8-.12-1.09-.08-.3-.19-.54-.32-.73s-.31-.33-.52-.42c-.21-.09-.44-.13-.71-.13-.4,0-.74.09-1,.27s-.46.45-.6.79-.22.78-.24,1.31Z' fill='%23010101'/%3E%3Cpath d='M222.12,25.83l-2.38-7.57h1.28l1.18,4.03c.05.15.11.35.17.6.07.25.13.5.2.76.07.26.12.49.17.69h.07c.05-.16.1-.37.17-.62.06-.25.13-.5.2-.76.07-.26.13-.48.18-.66l1.19-4.03h1.21l-2.38,7.57h-1.28Z' fill='%23010101'/%3E%3Cpath d='M226.97,16.8v-1.38h1.2v1.38h-1.2ZM226.97,25.83v-7.57h1.2v7.57h-1.2Z' fill='%23010101'/%3E%3Cpath d='M232.85,26c-.69,0-1.27-.14-1.72-.42-.46-.28-.8-.71-1.02-1.3-.23-.58-.34-1.33-.34-2.25s.12-1.69.35-2.27c.23-.58.58-1.01,1.04-1.28.46-.27,1.05-.41,1.75-.41.63,0,1.16.13,1.59.38s.75.65.96,1.18c.22.53.32,1.22.32,2.05v.63h-4.77c0,.62.07,1.13.19,1.53.13.39.33.68.6.87.27.19.62.28,1.05.28.27,0,.51-.04.71-.12.21-.08.38-.2.53-.35.15-.15.26-.33.34-.55.08-.22.12-.46.13-.74h1.18c0,.42-.08.8-.21,1.14-.13.34-.32.63-.56.87-.25.24-.55.42-.91.55-.36.12-.77.19-1.23.19ZM231.02,21.45h3.51c0-.43-.04-.8-.12-1.09s-.18-.54-.32-.73c-.14-.19-.31-.33-.52-.42-.21-.09-.44-.13-.71-.13-.4,0-.74.09-1,.27s-.46.45-.6.79-.22.78-.25,1.31Z' fill='%23010101'/%3E%3Cpath d='M238.59,25.83l-1.99-7.57h1.24l1.01,4.22c.04.17.08.37.12.58.04.22.09.42.13.62.04.2.07.36.09.48h.09c.04-.17.08-.37.12-.59.04-.22.08-.43.12-.63.04-.2.07-.36.1-.47l.89-4.21h1.35l.91,4.21c.04.15.08.33.12.54.04.21.08.41.12.62.04.21.07.39.09.54h.09c.03-.15.06-.33.11-.54s.09-.41.14-.62.09-.38.12-.53l.99-4.22h1.15l-1.99,7.57h-1.27l-.88-4.06c-.03-.16-.07-.36-.12-.59-.05-.23-.09-.47-.14-.71-.04-.24-.08-.45-.11-.62h-.09c-.02.14-.05.32-.09.54-.04.22-.08.44-.13.68s-.1.48-.14.71l-.89,4.05h-1.27Z' fill='%23010101'/%3E%3Cpath d='M249.15,26c-.47,0-.88-.05-1.23-.16s-.64-.26-.86-.45c-.23-.2-.39-.43-.5-.71-.11-.28-.16-.59-.16-.94v-.14s0-.09.01-.13h1.17s-.01.09-.01.13v.1c0,.32.08.57.22.77.13.2.32.34.57.42.24.09.53.13.84.13.3,0,.56-.04.79-.14.22-.09.4-.22.53-.4s.19-.4.19-.67c0-.31-.09-.54-.27-.71s-.41-.3-.69-.4-.58-.2-.9-.31c-.28-.09-.55-.18-.81-.29-.26-.11-.5-.24-.72-.4-.22-.16-.39-.37-.52-.61-.13-.25-.19-.55-.19-.93,0-.33.06-.62.19-.88.12-.26.3-.48.53-.66s.51-.31.83-.4c.32-.09.68-.14,1.09-.14s.79.05,1.11.15.58.24.79.42c.21.18.37.39.48.63.11.24.16.5.16.79,0,.06,0,.12,0,.19,0,.07,0,.12,0,.17h-1.17v-.26c0-.21-.04-.4-.14-.56-.09-.16-.24-.29-.44-.4-.2-.1-.47-.15-.82-.15-.24,0-.45.02-.63.07-.18.05-.32.12-.43.21-.11.09-.19.2-.25.32-.06.12-.09.27-.09.43,0,.25.07.45.22.59s.34.26.58.35c.24.09.5.19.78.28.29.1.58.2.88.3.3.11.58.24.84.4.25.16.46.37.61.63.15.26.23.6.23,1.01s-.07.75-.21,1.04c-.14.29-.33.54-.58.73-.25.19-.54.33-.88.42s-.71.14-1.12.14Z' fill='%23010101'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M84.64,54.13h-1.14v.95h1.14c.79,0,.84-.95,0-.95Z' fill='%233d699a' fill-rule='evenodd'/%3E%3Cpath d='M84.52,52.49h-1.02v.89h1.06c.62,0,.6-.89-.04-.89Z' fill='%233d699a' fill-rule='evenodd'/%3E%3Cpath d='M80.74,54.13h-1.14v.95h1.14c.79,0,.83-.95,0-.95Z' fill='%233d699a' fill-rule='evenodd'/%3E%3Cpath d='M80.63,52.49h-1.02v.89h1.06c.62,0,.59-.89-.04-.89Z' fill='%233d699a' fill-rule='evenodd'/%3E%3Cpath d='M88.53,54.13h-1.14v.95h1.14c.79,0,.84-.95,0-.95Z' fill='%233d699a' fill-rule='evenodd'/%3E%3Cpath d='M88.42,52.49h-1.02v.89h1.06c.62,0,.59-.89-.04-.89Z' fill='%233d699a' fill-rule='evenodd'/%3E%3Cpath d='M89.92,35.26h-11.08c-2.2,0-4,1.8-4,4v14.75c0,2.2,1.8,4,4,4h11.08c2.2,0,4-1.8,4-4v-14.75c0-2.2-1.8-4-4-4ZM82.94,39.39l1.43-1.98.22.15c-.29.42-.11.85.24,1.11l2.52,1.83c1.14.83,1.19,2.35.46,3.37l-1.62,2.28-.2-.15c.35-.45.28-1.35-.19-1.7l-2.35-1.73c-.92-.68-1.16-2.26-.49-3.19ZM81.98,44.28l.92-1.27.25.18c-.11.24-.09.44.11.59l1.72,1.25c.79.58.83,1.58.3,2.32l-.86,1.2-.25-.18c.14-.22.11-.43-.18-.64l-1.71-1.23c-.63-.45-.77-1.58-.31-2.21ZM80.66,55.87h-1.94v-4.17h1.96c.7,0,1.35.32,1.35,1.11,0,.39-.21.68-.54.87.44.19.66.32.74.87.14.96-.74,1.32-1.57,1.32ZM84.56,55.87h-1.94v-4.17h1.96c.7,0,1.35.32,1.35,1.11,0,.39-.21.68-.54.87.44.19.66.32.74.87.14.96-.74,1.32-1.57,1.32ZM85.94,50.98h-3.1l-.34-1.15h-1.9l.25-.85h7.07l.25.85h-1.9l-.34,1.15ZM88.45,55.87h-1.94v-4.17h1.96c.7,0,1.35.32,1.35,1.11,0,.39-.21.68-.54.87.44.19.66.32.74.87.14.96-.74,1.32-1.57,1.32Z' fill='%233d699a' fill-rule='evenodd'/%3E%3C/g%3E%3Cg%3E%3Cpath d='M101.52,52.64v-9.88h4.28c.57,0,1.05.1,1.45.29.4.19.71.47.91.82s.31.77.31,1.25c0,.39-.06.75-.19,1.07-.12.32-.3.58-.53.79s-.49.37-.78.47v.06c.33.08.62.21.89.41.26.2.47.46.63.79.15.33.23.73.23,1.22,0,.64-.12,1.16-.37,1.56-.25.4-.6.69-1.05.87-.45.18-.99.27-1.61.27h-4.16ZM102.83,47.02h2.74c.35,0,.63-.07.86-.2s.41-.32.53-.57c.12-.24.18-.52.18-.83,0-.52-.13-.9-.39-1.15s-.62-.38-1.09-.38h-2.82v3.12ZM102.83,51.5h2.91c.53,0,.93-.13,1.22-.4.28-.26.42-.69.42-1.29,0-.36-.06-.67-.18-.92-.12-.25-.3-.44-.55-.56-.24-.12-.56-.19-.96-.19h-2.87v3.36Z' fill='%23010101'/%3E%3Cpath d='M110.56,52.64v-9.88h4.28c.57,0,1.05.1,1.45.29.4.19.71.47.91.82s.31.77.31,1.25c0,.39-.06.75-.19,1.07-.12.32-.3.58-.53.79s-.49.37-.78.47v.06c.33.08.62.21.89.41.26.2.47.46.63.79.15.33.23.73.23,1.22,0,.64-.12,1.16-.37,1.56-.25.4-.6.69-1.05.87-.45.18-.99.27-1.61.27h-4.16ZM111.87,47.02h2.74c.35,0,.63-.07.86-.2s.41-.32.53-.57c.12-.24.18-.52.18-.83,0-.52-.13-.9-.39-1.15s-.62-.38-1.09-.38h-2.82v3.12ZM111.87,51.5h2.91c.53,0,.93-.13,1.22-.4.28-.26.42-.69.42-1.29,0-.36-.06-.67-.18-.92-.12-.25-.3-.44-.55-.56-.24-.12-.56-.19-.96-.19h-2.87v3.36Z' fill='%23010101'/%3E%3Cpath d='M119.6,52.64v-9.88h4.28c.57,0,1.05.1,1.45.29.4.19.71.47.91.82s.31.77.31,1.25c0,.39-.06.75-.19,1.07-.12.32-.3.58-.53.79s-.49.37-.78.47v.06c.33.08.62.21.89.41.26.2.47.46.63.79.15.33.23.73.23,1.22,0,.64-.12,1.16-.37,1.56-.25.4-.6.69-1.05.87-.45.18-.99.27-1.61.27h-4.16ZM120.91,47.02h2.74c.35,0,.63-.07.86-.2s.41-.32.53-.57c.12-.24.18-.52.18-.83,0-.52-.13-.9-.39-1.15s-.62-.38-1.09-.38h-2.82v3.12ZM120.91,51.5h2.91c.53,0,.93-.13,1.22-.4.28-.26.42-.69.42-1.29,0-.36-.06-.67-.18-.92-.12-.25-.3-.44-.55-.56-.24-.12-.56-.19-.96-.19h-2.87v3.36Z' fill='%23010101'/%3E%3Cpath d='M130.39,52.64l3.4-9.88h1.69l3.41,9.88h-1.41l-.85-2.52h-4.05l-.85,2.52h-1.34ZM132.95,48.98h3.3l-1.04-3.14c-.03-.1-.07-.21-.12-.35-.05-.14-.1-.29-.15-.47-.05-.17-.11-.34-.16-.52s-.1-.33-.14-.48h-.09c-.05.17-.11.37-.18.6-.07.23-.14.45-.21.66-.07.22-.13.4-.19.55l-1.04,3.14Z' fill='%23010101'/%3E%3Cpath d='M142.7,52.41v-2.92h-2.58v-1.05h2.58v-2.94h1.05v2.94h2.58v1.05h-2.58v2.92h-1.05Z' fill='%23010101'/%3E%3Cpath d='M151.18,52.64v-7.57h.98l.1,1.17h.09c.08-.25.18-.48.32-.68s.3-.36.5-.48c.2-.12.44-.18.72-.18.12,0,.23,0,.33.03.1.02.17.04.23.06v1.18h-.46c-.26,0-.49.05-.69.14s-.37.24-.5.42c-.13.19-.24.42-.31.68-.07.27-.11.58-.11.92v4.31h-1.2Z' fill='%23010101'/%3E%3Cpath d='M157.21,52.81c-.27,0-.53-.04-.79-.11-.26-.07-.49-.19-.7-.34-.21-.16-.37-.37-.49-.64-.12-.27-.18-.59-.18-.98,0-.47.1-.87.3-1.19.2-.32.49-.59.87-.79s.84-.35,1.39-.45c.55-.09,1.17-.14,1.87-.14v-.96c0-.28-.04-.52-.13-.71-.09-.2-.24-.35-.45-.45s-.5-.16-.88-.16c-.39,0-.7.06-.91.18-.22.12-.37.27-.45.46-.08.19-.12.39-.12.61v.19h-1.15s-.01-.1-.01-.14v-.17c0-.49.11-.89.34-1.2.23-.31.55-.54.96-.69.41-.15.89-.22,1.43-.22s1.01.08,1.4.24c.38.16.68.41.88.74.2.33.3.75.3,1.26v4.16c0,.17.04.3.12.37.08.08.17.12.29.12h.52v.79c-.13.06-.28.11-.44.15-.16.04-.33.06-.53.06-.24,0-.43-.05-.58-.15-.15-.1-.26-.24-.34-.41-.08-.17-.13-.36-.16-.58h-.09c-.15.23-.34.43-.57.61-.23.17-.48.31-.76.4-.28.1-.6.14-.94.14ZM157.53,51.79c.25,0,.49-.05.73-.14s.44-.22.63-.39c.18-.17.33-.38.44-.63.11-.25.17-.53.17-.85v-.72c-.72,0-1.31.05-1.78.16-.46.11-.81.27-1.04.5s-.35.53-.35.89c0,.26.05.48.14.65.1.17.24.3.42.39.18.09.4.13.65.13Z' fill='%23010101'/%3E%3Cpath d='M164.28,52.81c-.37,0-.65-.07-.85-.22-.2-.14-.34-.34-.42-.59-.08-.25-.12-.52-.12-.81v-5.11h-.83v-1.02h.85l.23-2.13h.96v2.13h1.22v1.02h-1.22v5.01c0,.24.04.42.11.53.07.11.21.17.41.17h.71v.81c-.1.04-.21.07-.33.11-.12.03-.25.06-.37.08-.12.02-.24.03-.35.03Z' fill='%23010101'/%3E%3Cpath d='M166.7,43.61v-1.38h1.2v1.38h-1.2ZM166.7,52.64v-7.57h1.2v7.57h-1.2Z' fill='%23010101'/%3E%3Cpath d='M169.86,52.64v-7.57h.98l.1,1.08h.09c.17-.3.37-.54.6-.72.23-.18.48-.32.75-.4.27-.09.56-.13.87-.13.42,0,.79.07,1.11.22.32.15.56.39.73.73s.26.79.26,1.35v5.44h-1.21v-5.23c0-.27-.03-.49-.09-.68-.06-.18-.14-.33-.25-.44-.11-.11-.25-.19-.42-.25s-.35-.08-.55-.08c-.32,0-.61.09-.88.26-.27.17-.48.42-.65.75s-.25.72-.25,1.2v4.46h-1.2Z' fill='%23010101'/%3E%3Cpath d='M178.47,55.29c-.36,0-.68-.08-.97-.23-.29-.15-.53-.37-.7-.66-.17-.29-.26-.61-.26-.98,0-.41.11-.77.32-1.06.22-.29.49-.51.81-.66-.24-.12-.43-.28-.56-.49-.13-.21-.2-.44-.2-.68,0-.34.11-.62.34-.84.23-.23.51-.38.84-.47-.32-.21-.56-.48-.73-.81s-.25-.69-.25-1.09c0-.47.1-.89.3-1.25.2-.36.51-.65.91-.86s.91-.32,1.52-.32c.28,0,.53.02.76.06.23.04.44.11.63.19.28-.12.49-.31.65-.55.15-.24.25-.5.29-.78h1.15c0,.3-.07.57-.19.82-.12.25-.27.46-.47.63s-.45.28-.73.34c.23.23.4.49.51.78.11.29.17.59.17.92,0,.47-.1.89-.3,1.25s-.5.65-.9.86c-.4.21-.9.32-1.51.32h-.99c-.24,0-.43.05-.58.16-.15.11-.22.27-.22.5,0,.21.08.37.24.49s.37.17.62.17h2.46c.56,0,1,.19,1.33.57.33.38.5.86.5,1.43,0,.41-.09.79-.28,1.12-.19.34-.45.6-.8.8-.35.2-.75.29-1.22.29h-2.49ZM178.8,54.36h2.1c.22,0,.42-.05.59-.14.17-.1.31-.23.41-.4s.15-.36.15-.56c0-.35-.09-.62-.27-.83-.18-.21-.42-.31-.71-.31h-2.28c-.3,0-.55.11-.75.32-.2.22-.3.49-.3.81s.1.6.29.81c.2.2.45.3.76.3ZM179.86,48.83c.52,0,.91-.13,1.16-.4.25-.26.38-.64.38-1.12s-.13-.87-.38-1.13c-.25-.26-.64-.4-1.16-.4s-.91.13-1.17.4c-.26.26-.39.64-.39,1.13,0,.31.06.58.17.81s.29.41.52.53.52.18.86.18Z' fill='%23010101'/%3E%3C/g%3E%3Cg%3E%3Cpolygon points='79.75 14.43 81.57 19 86.48 19.32 82.69 22.46 83.91 27.23 79.75 24.6 75.59 27.23 76.8 22.46 73.02 19.32 77.93 19 79.75 14.43' fill='%23ffc629'/%3E%3Cpolygon points='96.73 14.43 98.54 19 103.45 19.32 99.67 22.46 100.88 27.23 96.73 24.6 92.57 27.23 93.78 22.46 90 19.32 94.91 19 96.73 14.43' fill='%23ffc629'/%3E%3Cpolygon points='113.7 14.43 115.52 19 120.43 19.32 116.65 22.46 117.86 27.23 113.7 24.6 109.54 27.23 110.76 22.46 106.97 19.32 111.88 19 113.7 14.43' fill='%23ffc629'/%3E%3Cpolygon points='130.68 14.43 132.5 19 137.41 19.32 133.62 22.46 134.84 27.23 130.68 24.6 126.52 27.23 127.73 22.46 123.95 19.32 128.86 19 130.68 14.43' fill='%23ffc629'/%3E%3Cpolygon points='147.66 14.43 149.47 19 154.38 19.32 150.6 22.46 151.81 27.23 147.66 24.6 143.5 27.23 144.71 22.46 140.93 19.32 145.84 19 147.66 14.43' fill='%23ffc629'/%3E%3C/g%3E%3C/g%3E%3Cg%3E%3Cpath d='M61,36.51c0-1.58-.14-3.1-.4-4.55h-20.97v8.62h11.98c-.53,2.77-2.11,5.12-4.47,6.7v5.61h7.23c4.21-3.89,6.64-9.6,6.64-16.38Z' fill='%23557ebf'/%3E%3Cpath d='M39.63,58.27c6.01,0,11.05-1.98,14.74-5.38l-7.23-5.61c-1.98,1.34-4.51,2.15-7.51,2.15-5.79,0-10.71-3.91-12.47-9.17h-7.41v5.75c3.66,7.27,11.17,12.27,19.88,12.27Z' fill='%2336a852'/%3E%3Cpath d='M27.16,40.23c-.45-1.34-.71-2.75-.71-4.23s.26-2.89.71-4.23v-5.75h-7.41c-1.52,3-2.39,6.38-2.39,9.98s.87,6.98,2.39,9.98l5.77-4.49,1.64-1.26Z' fill='%23f9bc15'/%3E%3Cpath d='M39.63,22.6c3.28,0,6.19,1.13,8.52,3.32l6.38-6.38c-3.87-3.6-8.89-5.81-14.9-5.81-8.7,0-16.21,5-19.88,12.29l7.41,5.75c1.76-5.26,6.68-9.17,12.47-9.17Z' fill='%23ea4535'/%3E%3Cpath d='M17.36,13.73h44.53v44.53H17.36V13.73Z' fill='none'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Placeholder: contenedor del portal, define la altura real */
.milani-slider-placeholder {
  display: block;
  width: 100%;
  height: 100%;
}



/* Cadena de altura: cada nivel hereda del padre */
.milani-slider-root {
  --swiper-theme-color: #ce2229;
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.milani-slide {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* ── Imagen: ocupa todo el slide via position absolute ──────────────────────── */
.milani-slide__picture {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}
.milani-slide__picture img{
  position: absolute;
  inset: 0;
  width: 100%!important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}

body .milani-slide__content .milani-slide__img {
  position: absolute;
  inset: 0;
  width: 100%!important;
  height: 100% !important;
  object-fit: cover;
  display: block;
}

/* ── Overlay ─────────────────────────────────────────────────────────────────── */
.milani-slide__overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* ── Content ─────────────────────────────────────────────────────────────────── */
.milani-slide__content {
  position: relative;
  inset: 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 0;
  padding-right: 0;
  padding-top: 70px;
  padding-bottom: 70px;
  max-width: 100%;
  width: 100%;
}
.milani-slide__content_row{
    background: rgba(0,0,0,0.44);
    max-width: 50%;
    padding: 38px;
    border-radius: 10px;
    margin-left: 10%;
}

/* ── Typography ──────────────────────────────────────────────────────────────── */
body .milani-slide__content h5.milani-slide__eyebrow {
  color: #fff;
  font-size: 32px;
  margin: 0 0 20px;
}

body .milani-slide__content h1.milani-slide__title {
  color: #fff;
  line-height: 1.15;
  font-size: 68px;
  margin: 0 0 20px;
}


body .milani-slide__content h3.milani-slide__subtitle {
  color: #fff;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.2;
  margin: 0 0 40px;
}


/* ── CTA ─────────────────────────────────────────────────────────────────────── */
body .milani-slide__content .milani-slide__cta {
      display: inline-flex;
    align-items: center;
    gap: 10px;
    background: #ffc629;
    color: #000;
    font-size: 19px;
    font-weight: 700;
    padding-top: 12px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 53px;
    line-height: 1.1;
    border-radius: 10px !important;
    border: none;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    position: relative;
}

body .milani-slide__content .milani-slide__cta::before{
  content: "";
    width: 25px;
    height: 25px;
    display: flex;
    background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M33.1 9.08997C33.1 7.31997 33.1 6.17997 32.98 5.33997C32.87 4.54997 32.7 4.30998 32.56 4.16998C32.42 4.02998 32.17 3.86 31.39 3.75C30.55 3.64 29.41 3.63 27.64 3.63H13.09C11.33 3.63 10.18 3.63 9.34003 3.75C8.55003 3.86 8.31001 4.02998 8.17001 4.16998C8.03001 4.30998 7.86 4.55997 7.75 5.33997C7.64 6.17997 7.63 7.31997 7.63 9.08997V30.91C7.63 32.68 7.63 33.82 7.75 34.66C7.86 35.45 8.03001 35.69 8.17001 35.83C8.31001 35.97 8.56003 36.14 9.34003 36.25C10.18 36.36 11.32 36.37 13.09 36.37H27.64C29.41 36.37 30.55 36.37 31.39 36.25C32.18 36.14 32.42 35.97 32.56 35.83C32.7 35.69 32.87 35.44 32.98 34.66C33.09 33.82 33.1 32.68 33.1 30.91V9.08997ZM14.01 30.91V34.55H10.37V30.91H14.01ZM22.19 30.91V34.55H18.55V30.91H22.19ZM30.37 25.45V34.54H26.73V25.45H30.37ZM14.01 25.45V29.09H10.37V25.45H14.01ZM22.19 25.45V29.09H18.55V25.45H22.19ZM14.01 20V23.64H10.37V20H14.01ZM22.19 20V23.64H18.55V20H22.19ZM30.37 20V23.64H26.73V20H30.37ZM27.64 10.91C27.64 9.99997 27.64 9.49997 27.59 9.15997V9.14001C27.59 9.14001 27.58 9.14001 27.57 9.14001C27.22 9.09001 26.73 9.08997 25.82 9.08997H14.91C14 9.08997 13.5 9.09001 13.16 9.14001H13.15C13.15 9.14001 13.15 9.14997 13.15 9.15997C13.1 9.49997 13.1 9.99997 13.1 10.91C13.1 11.82 13.1 12.32 13.15 12.66C13.15 12.66 13.15 12.66 13.15 12.67C13.15 12.67 13.15 12.67 13.16 12.67C13.51 12.72 14 12.72 14.91 12.72H25.82C26.73 12.72 27.23 12.72 27.57 12.67C27.57 12.67 27.57 12.67 27.58 12.67C27.58 12.67 27.58 12.67 27.58 12.66C27.63 12.31 27.63 11.81 27.63 10.91H27.64ZM31.28 10.91C31.28 11.71 31.28 12.5 31.2 13.15C31.11 13.85 30.88 14.64 30.22 15.3C29.56 15.96 28.76 16.19 28.07 16.28C27.42 16.37 26.64 16.36 25.83 16.36H14.92C14.11 16.36 13.33 16.36 12.68 16.28C11.98 16.19 11.19 15.96 10.53 15.3C9.87003 14.64 9.64002 13.84 9.55002 13.15C9.46002 12.51 9.47 11.72 9.47 10.91C9.47 10.1 9.47002 9.31998 9.55002 8.66998C9.64002 7.96998 9.87003 7.17996 10.53 6.51996L10.78 6.28998C11.38 5.79998 12.07 5.61998 12.68 5.53998C13.33 5.44998 14.11 5.45996 14.92 5.45996H25.83C26.64 5.45996 27.42 5.45998 28.07 5.53998C28.68 5.61998 29.36 5.80998 29.97 6.28998L30.22 6.51996L30.45 6.76996C30.94 7.36996 31.12 8.05998 31.2 8.66998C31.29 9.30998 31.28 10.1 31.28 10.91ZM36.73 30.91C36.73 32.57 36.73 34 36.58 35.14C36.42 36.33 36.06 37.47 35.13 38.4C34.2 39.33 33.06 39.69 31.87 39.85C30.73 40 29.3 40 27.64 40H13.09C11.43 40 10 40 8.86002 39.85C7.67002 39.69 6.53001 39.33 5.60001 38.4C4.67001 37.47 4.31002 36.33 4.15002 35.14C4.00002 34 4 32.57 4 30.91V9.08997C4 7.42997 4.00002 5.99999 4.15002 4.85999C4.31002 3.66999 4.67001 2.52998 5.60001 1.59998C6.53001 0.669976 7.67002 0.309963 8.86002 0.149963C10 -3.66271e-05 11.43 0 13.09 0H27.64C29.3 0 30.73 -3.66271e-05 31.87 0.149963C33.06 0.309963 34.2 0.669976 35.13 1.59998C36.06 2.52998 36.42 3.66999 36.58 4.85999C36.73 5.99999 36.73 7.42997 36.73 9.08997V30.91Z' fill='black'/%3E%3C/svg%3E%0A");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 20px;
}

.milani-slide__cta:hover {
  background: #e6b320;
}

/* ── Navigation arrows ───────────────────────────────────────────────────────── */
.milani-slider-root .swiper-button-prev,
.milani-slider-root .swiper-button-next {
  color: #fff;
}

/* ── Pagination bullets ──────────────────────────────────────────────────────── */
.milani-slider-root .swiper-pagination-bullet {
  background: rgba(255, 255, 255, 0.5);
  opacity: 1;
}

.milani-slider-root .swiper-pagination-bullet-active {
  background: #ce2229;
}


@media (max-width: 999px) {
  .milani-slider-wrapper,
.milani-slider-wrapper .milani-swiper{
      min-height: 100px;
}
  .milani-slide__content_row{
    margin-left: 0;
    border-radius: 0;
  }
  body .milani-slide__content h1.milani-slide__title{
    font-size: 58px;
  }
  body .milani-slide__content h5.milani-slide__eyebrow{
    font-size: 26px;
  }
  body .milani-slide__content h3.milani-slide__subtitle{
    font-size: 26px;
  }
  body .milani-slide__content .milani-slide__cta{
    font-size: 18px;
  }
  .milani-slide__content{
    padding-top: 120px;
    padding-bottom: 0;
  }
  .milani-slider-wrapper::before{
    left: 20px;
            width: 200px;
        height: 52px;
  }
}

@media (max-width: 768px) {
  body .milani-slide__content h1.milani-slide__title{
    font-size: 46px;
  }
  body .milani-slide__content h5.milani-slide__eyebrow{
    font-size: 21px;
    margin-bottom: 15px !important;
  }
  body .milani-slide__content h3.milani-slide__subtitle{
    font-size: 21px !important;
    margin-bottom: 20px !important;
  }
}

@media (max-width: 689px) {
.milani-slide__content_row{
  max-width: 100%;
}
}